@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FeManagement</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div> *@

<div style="color:white" >
    <MudNavMenu>
        
        <MudDivider Class="my-2" />
        <MudNavLink Href="home" Icon="@Icons.Material.Filled.Dashboard">Inicio</MudNavLink>
        <MudNavLink Href="questions" Icon="@Icons.Material.Filled.QuestionMark">Preguntas</MudNavLink>
        <MudNavLink Href="gallery" Icon="@Icons.Material.Filled.Image">Galería</MudNavLink>
        
    </MudNavMenu>

   
</div>

